<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace路径-->
<mapper namespace="com.example.hospitalphoneservice.mapper.TrashInCheckMapper">
    <select id="trashNumCheck" parameterType="String" resultType="com.example.hospitalphoneservice.bean.Trash">
        SELECT bagcode,boxcode FROM tblmedicaltype where collectid = #{userId} AND state = 6
    </select>

    <select id="waring"  resultType="com.example.hospitalphoneservice.bean.Waring">
        SELECT entererror,carweight FROM tblwarning
    </select>
</mapper>